doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Bike Shops
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    style
      include ../styles.scss
  body
    header.bg-dark
      img.m-3(width='15%', src='https://www.bikelord.co/BikeLord_Logo_03_Small.png')
    .bg-light.pt-1
      h1.text-center.font-weight-bold.text-uppercase bike shops
      ul.bikeshop-container
    - const loadJsonData = (end) => 
      ul.bikeshop-page.bg-light
        for specificBike in allBikeData.slice(0, end)
          .bikeshop-card.bg-white.m-3.p-4
            li
              img.shop-image(src=specificBike.image, onerror="this.onerror=null; this.src='https://imgur.com/qzN3r1U.png'" alt="")
            li
              img(src=specificBike.logo, alt="")
            li
              a.text-dark(href=specificBike.website)
                h3.font-weight-bold=specificBike.shopname
            li
              h4=specificBike.contact
            li
              h4
                span.glyphicon.glyphicon-earphone 
                p=specificBike.phone
            li
              h4
                span.glyphicon.glyphicon-home
                p=specificBike.address
            li
              a.btn.btn-success(href=specificBike.facebook) Facebook
              a.btn.btn-success.ml-1(href=specificBike.instagram) Instagram
    - const addMoreJsonData = (num) =>
      ul
        each index in num
          li= index 
    - loadJsonData(12)
    
  
      div.loading
        div.ball
        div.ball
        div.ball   
  
  script.
      document.addEventListener('scroll', function(){
        if(window.scrollY + window.innerHeight >= document.documentElement.scrollHeight){
          console.log('Hello from JavaScript');
          #{addMoreJsonData(24)}
        }
      });

    allBikeData = !{JSON.stringify(allBikeData)}

    const loading = document.querySelector('.loading')
    const showLoading = () => {
      loading.classList.add('show')
    }
    const stopLoading = () => {
      loading.classList.remove('show')
    }
    const loadData = document.querySelector('.bikeshop-page')
    
    
    window.addEventListener('scroll', () => {
      if(window.scrollY + window.innerHeight >= document.documentElement.scrollHeight){
        showLoading()
      } else {
        stopLoading()
      }
    })
